@import url('https://fonts.googleapis.com/css2?family=Lato&family=Londrina+Solid:wght@300&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-bottom: 0;
  text-align: center;
  padding-top: 0;
}
body{
  background-image: url("/src/assets/day.jpg");
  transition-duration: 1.5s;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}
.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* writing the css */
#logoandbtn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70vw;
  
}


.box{
  background-color: #ffffff17;
  padding: 1.4vw;
  border-radius: 40px;
  backdrop-filter: blur(7px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn-container{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;   
  height: 20vw;
  width: 70vw;
}
.btn {
  width: 60vw;
  margin: 10px 0 10px 0;
  height: 8vw;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.09) 0px -12px 30px,
    rgba(0, 0, 0, 0.09) 0px 4px 6px, rgba(0, 0, 0, 0.12) 0px 12px 13px, rgba(0, 0, 0, 0.06) 0px -3px 5px;
  transition: background-color 0.5s, transform 0.5s;
}
.btn:hover {
  background-color: rgb(234, 224, 224);
  transform: scale(1.1);
}

.highlight-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70vw;
  margin-top: 20px;
}

.hbtn {
  border-radius: 50px;
  transition: background-color 0.5s, transform 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.09) 0px -12px 30px, rgba(0, 0, 0, 0.09) 0px 4px 6px, rgba(0, 0, 0, 0.12) 0px 12px 13px, rgba(0, 0, 0, 0.06) 0px -3px 5px;
}

.hbtn:hover {
  background-color: rgb(234, 224, 224);
  transform: scale(1.1);
}

.logo{
  width: 13.5vw;
  border-radius: 40px;
}

.changeBg {
  height: 4vw;
  margin-top: 24px;
  border-radius: 40px;
  transition: background-color 0.5s, transform 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.09) 0px -12px 30px, rgba(0, 0, 0, 0.09) 0px 4px 6px, rgba(0, 0, 0, 0.12) 0px 12px 13px, rgba(0, 0, 0, 0.06) 0px -3px 5px; 
}

.changeBg:hover {
  background-color: rgb(234, 224, 224);
  transform: scale(1.1);
}

.question{
  font-size: 32px;
  font-weight: 800;
}

.result-container{
  background-color: #ffffff17;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.4vw;
  backdrop-filter: blur(7px);  
  border-radius: 40px; 
  box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.09) 0px -12px 30px, rgba(0, 0, 0, 0.09) 0px 4px 6px, rgba(0, 0, 0, 0.12) 0px 12px 13px, rgba(0, 0, 0, 0.06) 0px -3px 5px; 
}

#heading-final{
  font-size: 60px;
  color: black;
}

#score-card{
  font-size: 30px;
  color: black;
}

.start{
  height: 7vw;
  width: 15vw;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.09) 0px -12px 30px, rgba(0, 0, 0, 0.09) 0px 4px 6px, rgba(0, 0, 0, 0.12) 0px 12px 13px, rgba(0, 0, 0, 0.06) 0px -3px 5px; 
  font-size: x-large;

}

.start:hover {
  transition: 0.5s, transform 0.5s;
  transform: scale(1.1);
}



/* Media Quueries */

@media (max-width: 1024px) and (min-width: 980px){
  .question{
    font-size: 27px;
  }
  .box{
    height: 44vw;
  }
  .highlight-btns{
    margin-top: 54px;
  }
  .start{
    font-size: 20px;
  }
}

@media (max-width: 979px) and (min-width: 900px){
  .question{
    font-size: 23.5px;
  }
  .box{
    height: 48vw;
  }
  .highlight-btns{
    margin-top: 74px;
  }
  .start{
    font-size: 15px;
  }
}

@media (max-width: 899px) and (min-width: 810px){
  .question{
    font-size: 21.5px;
  }
  .box{
    height: 50.5vw;
  }
  .highlight-btns{
    margin-top: 10vw;
  }
  .changeBg {
    height: 5vw;
    margin-top: 26px;
  }
  .start{
    font-size: 12px;
  }
}

@media (max-width: 808px) and (min-width: 710px){
  .question{
    font-size: 19.5px;
  }
  .box{
    height: 56.8vw;
  }
  .highlight-btns{
    margin-top: 14vw;
  }
  .changeBg {
    height: 5vw;
    margin-top: 26px;
  }
  .start{
    font-size: 11px;
  }
}

@media (max-width: 709px) and (min-width: 655px){
  .question{
    font-size: 18.5px;
  }
  .box{
    height: 60.8vw;
  }
  .highlight-btns{
    margin-top: 16.8vw;
  }
  .changeBg {
    height: 7vw;
    margin-top: 26px;
  }
  .start{
    font-size: 9px;
  }
 
}

@media (max-width: 654px) and (min-width: 605px){
  .question{
    font-size: 17.8px;
  }
  .box{
    height: 64.8vw;
  }
  .highlight-btns{
    margin-top: 19.8vw;
  }
  .changeBg {
    height: 7vw;
    margin-top: 26px;
  }
  .logo {
    width: 25.5vw;
    border-radius: 40px;
  }
  .start{
    font-size: 20px;
    height: 17vw;
    width: 30vw;
    border-radius: 100px;
  }
 
}

@media (max-width: 604px) and (min-width: 400px){
  .question{
    font-size: 13.1px;
    text-wrap: wrap;
  }
  .box{
    height: 110.8vw;
  }
  .highlight-btns{
    margin-top: 50.8vw;
  }
  .changeBg {
    height: 10vw;
    margin-top: 26px;
  }
  .logo {
    width: 25.5vw;
    border-radius: 40px;
  }
  .btn{
    height: 16vw;
  }
  .start{
    font-size: 20px;
    height: 17vw;
    width: 30vw;
    border-radius: 100px;
  }
  
 
}

@media (max-width: 399px) and (min-width: 300px){
  .question{
    font-size: 9.5px;
    text-wrap: wrap;
  }
  .box{
    height: 146.8vw;
  }
  .highlight-btns{
    margin-top: 65.8vw;
  }
  .changeBg {
    height: 11vw;
    margin-top: 26px;
  }
  .btn-container{
    margin-left: 10px;
  }
  .btn{
    height: 16vw;
    font-size: 3.5vw;
  }
  .hbtn {
    border-radius: 50px;
    height: 18vw;
    font-size: 13px;
  }
  .logo {
    width: 25.5vw;
    border-radius: 40px;
  }
  #logoandbtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    margin-left: 34px;
  }
  .start{
    font-size: 15px;
    height: 17vw;
    width: 30vw;
    border-radius: 100px;
  }
 
}